
*
{
    background-color: darkolivegreen;
    color: rgb(182, 182, 182);
}

.krozphoto
{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    margin: 0 auto;
    display: block;
}

h1,h2,h3,h6
{
    text-align: center;
}
